@font-face {
    font-family: 'Samarkan';
    src: url('assets/fonts/Samarkan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'Samarkan', sans-serif;
}
